
h1 {
 color: rgb(250, 225, 0);
 text-align: center;
 background-color: rgb(255, 255, 255);    


}
h2 {
    color: rgb(0, 26, 255);
    text-align: center;
    background-color: rgb(255, 255, 255);    
   
   
}

h3  {
    color:crimson;
    text-align: center;
    background-color: rgb(255, 255, 255);

}

body  {
    background-image: url(/images/wallpaper.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.upper_box  {
    text-align: center;
    text-shadow: 1px 1px;
    color: rgb(218, 165, 32);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin: 20px;
    border: 10px;
    border-style: ridge;
    border-color: rgb(48, 42, 42);
    height: 50px;
    width: auto;
    background-color: rgb(41, 37, 32);

}

.inner_box  {
    border:10px;
    margin: auto;
    border-style:ridge;
    border-color: rgb(48, 42, 42);
    height: auto;
    width: 50%;
    min-width: 600px;
    max-width: 600px;
    background-color: rgb(41, 37, 32);

}

.weapons_boxes  {
    display: inline-block;

}

.ifv_box  {
    margin: 20px;
    border:10px;
    border-style:ridge;
    border-color: rgba(255, 156, 114, 0.329);
    height: 150px;
    width: 180px;
    background-color: rgb(75, 67, 57);
    background-image: url(/images/ifv.png) ;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}

.ifv_box2  {
    margin: 20px;
    border:10px;
    border-style:ridge;
    border-color:  rgba(255, 156, 114, 0.329);
    height: 150px;
    width: 180px;
    background-color: rgb(75, 67, 57);
    background-image: url(/images/mbt.png) ;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;

}

.ifv_box3  {
    margin: 20px;
    border:10px;
    border-style:ridge;
    border-color:  rgba(255, 156, 114, 0.329);
    height: 150px;
    width: 180px;
    background-color: rgb(75, 67, 57);
    background-image: url(/images/arty.png) ;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;

}

.ifv_box4  {
    margin: 20px;
    border:10px;
    border-style:ridge;
    border-color:  rgba(255, 156, 114, 0.329);
    height: 150px;
    width: 180px;
    background-color: rgb(75, 67, 57);
    background-image: url(/images/heli.png) ;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;

}

.ifv_box5  {
    margin: 20px;
    border:10px;
    border-style:ridge;
    border-color:  rgba(255, 156, 114, 0.329);
    height: 150px;
    width: 180px;
    background-color: rgb(75, 67, 57);
    background-image: url(/images/air.png) ;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;

}

.ifv_box6  {
    margin: 20px;
    border:10px;
    border-style:ridge;
    border-color:  rgba(255, 156, 114, 0.329);
    height: 150px;
    width: 180px;
    background-color: rgb(75, 67, 57);
    background-image: url(/images/sea.png) ;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;

}